body{
    background-color: #2e2e2e;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.flush-divide{
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: aliceblue;
}

.big-title {
    font-size:800%;
    max-width: 50%;
    margin-top: 30;
    margin-bottom: 0;
    animation: fadeInLeft ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#headshot{
    border-radius: 50%;
    margin-top: 50;
    width: 40%;
    animation: fadeInLeft ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#title-table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

td>img{
    width: 100%;
}